/*---body---*/
@font-face {
    font-family: "ElinaWeather";
    src: url("https://moon-elxna.github.io/build-ur-flower/font/Elinaweather-Regular.ttf") format("truetype");
    font-display: block;
}
body {
    font-family: "ElinaWeather";
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 256px; 
}

/*--div---*/
div#content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    gap: 5px;
}
div#builder{
    position: relative;
    width: 250px;       
    height: 500px;     
}
div.btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    gap: 16px; 
}

/*---img---*/
img.building {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}
#decor {
z-index: 20;
}
#flower {
z-index: 30;
}
#stem {
z-index: 10;
}
/*https://stackoverflow.com/questions/6488390/can-you-layer-pictures-on-top-of-each-other-on-a-webpage*/
img.btn {
    width: 48px;
    height: 48px;
}

/*---btn---*/
button.arr {
    background: transparent;  
    border: none;            
    outline: none;          
}
button#save{
    font-size: 20px;
    font-family: "ElinaWeather";
}
