/*---font---*/
@font-face {
    font-family: pixellari;
    src: url("https://moon-elxna.github.io/build-ur-flower/assets/font/Pixellari.ttf");
}

/*--div---*/
body{
    background-color: #ffe9ef;
    font-family: "pixellari";;
    color: #000d18;
}

div#header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#title{
    font-weight: bold;
    font-size: 36px
}

div#content {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 5px;
    border-radius: 4px;
    background-color:#fffafb;
    max-width: fit-content;
    margin: auto;
    padding: 16px 32px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
div#in_builder{
    width: 250px;
    height: 500px;
}

div#builder{
    position: relative;
    width: 250px;       
    height: 500px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    gap: 16px; 
}

/*---img---*/
img.building {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}
img.btn {
    width: 48px;
}
img#name {z-index: 40;}
img#decor { z-index: 20; }
img#flower { z-index: 30; }
img#stem { z-index: 10; }

/*---btn---*/
button {
    font-family: "pixellari";
    font-size: 24px;
    border-radius: 4px;
    background: transparent;
    border: none;
    outline: none;
}
button.tool{
    background: #fffafb;
    padding: 6px;
    margin: 4px;
}
button.tool:active {
    background-color: #ffe9ef;
}

@media(max-width: 700px){
    div#header{
        flex-direction: column;
        gap: 8px;
        padding-bottom: 32px;
    } 
    div#content {  
        padding: 64px 16px;
        gap: 0px;
    }
    div#builder{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        width: 200px;       
        height: 400px;  
        padding: 0px;
        margin: 0px;
    }
    img.building {
      width: 200px;
    }
}

@media(max-width: 320px){
    div#title{
        font-weight: bold;
        font-size: 30px
    }
    div#header{
        padding-bottom: 16px;
    } 
    div#content {  
        padding: 32px 8px;
    }
    div#builder{
        width: 150px;       
        height: 300px;  
    }
    img.building {
      width: 150px;
    }
    img.btn{
        width: 32px;
    }
}