/*--div---*/
@font-face {
    font-family: pixellari;
    src: url("https://moon-elxna.github.io/build-ur-flower/font/Pixellari.ttf");
}
body{
    background-color: #ffe9ef;
    font-family: "pixellari";
    font-size: 24px;
    font-weight: bold;
    color: #000d18;
}
div#content {
    display: flex;
    flex-direction: row; 
    gap: 5px;
    border-radius: 4px;
    background-color:#fffafb;
    max-width: fit-content;
    margin: auto;
    padding: 16px 32px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
div#header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#builder{
    position: relative;
    width: 250px;       
    height: 500px;     
}
div.btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
    gap: 16px; 
}

/*---img---*/
img.building {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}
#decor { z-index: 20; }
#flower { z-index: 30; }
#stem { z-index: 10; }
img.btn {
    width: 48px;
    height: auto;
}

/*---btn---*/
button {
    font-family: "pixellari";
    font-size: 24px;
    border-radius: 4px;
    background: transparent;
    border: none;
    outline: none;
}

button.tool:hover {
    box-shadow: 0 4px 12px #ffffff;
}

button.tool:active {
    background-color: #ffffff;
}

canvas{
    width: 250px;
}

@media(max-width: 700px){
    div#content {
    display: flex;
    flex-direction: row; 
    gap: 5px;
    border-radius: 4px;
    background-color:#fffafb;
    max-width: min-content;
    margin: auto;
    padding: 16px 32px;
    }
     div#header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    } 
    div#builder{
    width: 150px;       ;     
    }
    img.building {
    width: 150px;
    }

}